/*      */
/* Imports */
/*      */
/*    */
/* FONTS */
/*    */
/* 'Montserrat' */
/* Black: 900; Used on headers and buttons */
/* 'Roboto Condensed' */
/* Regular: 400;  Used on input fields */
/* Light: 300; Used everwhere else */
/*     */
/* COLORS */
/*     */
/*        */
/* Variables */
/*        */
/*     */
/* Mixins */
/*     */
#landing-section {
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  max-width: 750px;
  max-height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
  margin-bottom: 350px;
  color: white;
}
@media screen and (max-width: 800px) {
  #landing-section {
    margin-bottom: 50px;
    padding-top: 100px;
  }
}

.btn {
  background-color: #3DC182;
  color: white;
  margin-top: 15px;
  font-size: 18px;
}

#need-truck-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: space-between;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 400px;
  margin-bottom: 350px;
}
@media only screen and (max-width: 800px) {
  #need-truck-container {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    margin-top: 0px;
    align-items: center;
  }
}

#have-truck-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: space-between;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 400px;
  margin-bottom: 300px;
}
@media only screen and (max-width: 800px) {
  #have-truck-container {
    flex-direction: column;
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
}

#need-truck-img {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: #444a59;
  max-width: 325px;
  min-height: 325px;
  padding: 50px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;
  animation-duration: 1.5s;
  animation-delay: 1s;
}
@media only screen and (max-width: 800px) {
  #need-truck-img {
    margin: 0 auto;
  }
}

#have-truck-img {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: #444a59;
  max-width: 325px;
  min-height: 325px;
  padding: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;
  animation-duration: 1.5s;
  animation-delay: 1s;
}
@media only screen and (max-width: 800px) {
  #have-truck-img {
    margin: 0 auto;
  }
}

#need-truck-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  background-color: #444a59;
  max-width: 450px;
  min-height: 325px;
  padding: 50px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;
  animation-duration: 1.5s;
  animation-delay: 0s;
}
@media only screen and (max-width: 800px) {
  #need-truck-card {
    margin: 20px auto;
    width: 90%;
  }
}

#have-truck-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  background-color: #444a59;
  max-width: 450px;
  min-height: 325px;
  padding: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
@media only screen and (max-width: 800px) {
  #have-truck-card {
    margin: 30px auto;
    width: 90%;
  }
}

#need-img {
  width: 175%;
  position: relative;
  right: 100px;
}

#have-img {
  width: 100%;
}

.brand-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: #444a59;
  padding: 50px;
  margin-top: 70px;
  height: 100%;
  min-height: 150px;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;
  animation-duration: 1.5s;
  animation-delay: 1s;
}
@media screen and (max-width: 800px) {
  .brand-section {
    display: none;
  }
}

#mm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
@media screen and (max-width: 800px) {
  .contacts {
    width: 300px;
  }
}

.contact-name {
  display: inline;
  font-size: 16px;
  margin: 0;
  align-self: flex-end;
}

.icon-gh {
  display: inline;
  color: white;
  font-size: 20px;
  margin: 3px;
}

#mm-logo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#mm-name {
  font-family: "Aleo", serif;
}

/*# sourceMappingURL=landingmain.css.map */
