body {
  background-color: #04CDFF;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin: 10px;
}

input {
  height: 50px;
  width: 325px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 32px;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border-radius: 5px;
  outline: 5px solid none;
  outline-offset: -5px
}

input:active,
input:focus {
  outline: 5px solid #04CDFF;
  outline-offset: -5px
}

button {
  width: 200px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 28px;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
}
