  /*    */
/* FONTS */
 /*    */

/* 'Montserrat' */
/* Black: 900; Used on headers and buttons */

/* 'Roboto Condensed' */
/* Regular: 400;  Used on input fields */
/* Light: 300; Used everwhere else */

$font-header: 'Montserrat', sans-serif;
$font-content: 'Roboto Condensed', sans-serif;
$font-weight-black: 900;
$font-weight-reg: 400;
$font-weight-light: 300;



  /*     */
/* COLORS */
 /*     */

$color-light-grey: #52596b;
$color-dark-grey: #444a59;
$color-light-blue: #3d5799;
$color-dark-blue: #364d87;
$color-background-light-blue: #04cdff;
$color-background-dark-blue: #04aad4;
$color-light-orange-warning: #ff7f40;
$color-dark-orange: #d46a35;
$color-light-red-danger: #ee322c;
$color-dark-red: #a62b0f;
$color-green: #3DC182;

  /*        */
/* Variables */
 /*        */

$border-base: 1px solid;
$border-rad-base: 5px;
$box-shadow-thin: 1px 1px 5px 0.5px black;
$box-shadow-thick: 3px 3px 10px 1px black;
  /*     */
/* Mixins */
 /*     */
@mixin border-radius($rad) {
  border-radius: $rad;
  -moz-border-radius: $rad;
  -weblit-border-radius: $rad;
}