  /*      */
/* Imports */
 /*      */
 @import 'variables';

#current-bid-card {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border: 2px solid black;
  border-radius: 5px;
}

#user-name {

}

#job-desc {

}

#job-image {
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

#driver-bid {

}

#total-bids {

}