.info {
    color: black;
}

.info h2 {
    text-decoration: underline;
}

.gm-ui-hover-effect {
    margin: 2px;
    min-width: 38px;
 }

 #info-window {
     @media only screen and(max-width: 320px) {
         width: 100px;
     }
 }



 #info-window button.bid-button {
     @media only screen and(max-width: 320px) {
        min-width: 60px !important;
    }
 }
