  /*      */
/* Imports */
 /*      */
 @import 'variables';

#landing-section {
  @media screen and (max-width: 800px) {
    margin-bottom: 50px;
    padding-top: 100px;
  }
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  max-width: 750px;
  max-height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
  margin-bottom: 350px;
  color: white;
}

.btn {
  background-color: #3DC182;
  color: white;
  margin-top: 15px;
  font-size: 18px;
}

#need-truck-container {
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    margin-top: 0px;
    align-items: center
  }
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: space-between;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 400px;
  margin-bottom: 350px;
}

#have-truck-container {
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center
  }
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: space-between;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 400px;
  margin-bottom: 300px;
}

#need-truck-img {
  @media only screen and (max-width: 800px) {
    margin: 0 auto;
  }
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: #444a59;
  max-width: 325px;
  min-height: 325px;
  padding: 50px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 20px;

  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;

  animation-duration: 1.5s;
  animation-delay: 1s;
}

#have-truck-img {
  @media only screen and (max-width: 800px) {
    margin: 0 auto;
  }
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: #444a59;
  max-width: 325px;
  min-height: 325px;
  padding: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 20px;


  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;

  animation-duration: 1.5s;
  animation-delay: 1s;
}

#need-truck-card {
  @media only screen and (max-width: 800px) {
    margin: 20px auto;
    width: 90%;
  }
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  background-color: #444a59;
  max-width: 450px;
  min-height: 325px;
  padding: 50px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 20px;

  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;

  animation-duration: 1.5s;
  animation-delay: 0s;
}

#have-truck-card {
  @media only screen and (max-width: 800px) {
    margin: 30px auto;
    width: 90%;
  }
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  background-color: #444a59;
  max-width: 450px;
  min-height: 325px;
  padding: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 20px;

  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;

  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

#need-img {
  width: 175%;
  position: relative;
  right: 100px;
}

#have-img {
  width: 100%;
}

.brand-section {
  @media screen and (max-width: 800px) {
    display: none;
  }
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: #444a59;
  padding: 50px;
  margin-top: 70px;
  height: 100%;
  min-height: 150px;

  border-radius: 3px;
  box-shadow: 3px 3px 10px 1px black;

  animation-duration: 1.5s;
  animation-delay: 1s;
}

#mm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contacts {
  @media screen and (max-width: 800px) {
    width: 300px;
  }
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.contact-name {
  display: inline;
  font-size: 16px;
  margin: 0;
  align-self: flex-end;
}

.icon-gh {
  display: inline;
  color: white;
  font-size: 20px;
  margin: 3px;
}

#mm-logo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#mm-name {
  font-family: 'Aleo', serif;
}

a {
  text-decoration: none;
}