  /*      */
/* Imports */
 /*      */
@import 'variables';

html {
  margin: 0;
}

body {
  background-image: url('http://papers.co/wallpaper/papers.co-aj74-cat-box-blue-illust-animal-art-minimal-36-3840x2400-4k-wallpaper.jpg');
  background-repeat: none;
  background-size: 100%;
  background-color: black;
  margin: 0;
  margin-top: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: $font-content;
  font-weight: $font-weight-reg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

h1 {
  font-family: $font-header;
  font-weight: $font-weight-black;
}

p {
  font-family: $font-content;
  font-weight: $font-weight-light;
}

label {
  color: white;
  font-family: $font-content;
  font-weight: $font-weight-reg;
  font-size: 32px;
  text-shadow: 1px 1px black;
  margin: 10px;
}

input {
  height: 50px;
  width: 325px;
  font-family: $font-content;
  font-weight: $font-weight-light;
  font-size: 32px;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  @include border-radius($border-rad-base);
  outline: 5px solid none;
  outline-offset: -5px;
  box-shadow: 1px 1px 5px 0.5px black;
}

input[type='radio'] {
  width: 20px;
  box-shadow: none;
}

input:active,
input:focus {
  outline: 5px solid #04CDFF;
  outline-offset: -5px;
}

button {
  width: 200px;
  height: 50px;
  font-family: $font-header;
  font-weight: $font-weight-black;
  font-size: 28px;
  border: $border-base;
  border-radius: $border-rad-base;
  margin: 10px;
  box-shadow: 1px 1px 5px 0.5px black;
  text-shadow: 1.25px 1.5px black;
  color: white;
  background-color: $color-green;
}

button:disabled {
  background: $color-light-grey;
  color: $color-dark-grey;
  cursor: not-allowed;
}