  /*      */
/* Imports */
 /*      */
 @import 'variables';

#register-btn {
  background-color: $color-light-orange-warning;
  color: white;
  margin-top: 15px;
}

#update-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
  background-color: $color-dark-blue;
  position: absolute;

  margin: 50px;
  box-shadow: $box-shadow-thick;
  @include border-radius(10px)
}

input{
  height: 40px;
  font-size: 20px;
}

label {
  display: block;
  margin: 0px;
  font-size: 24px;
}