  /*      */
/* Imports */
 /*      */
 @import 'variables';

 #registration-container {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 1000px;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  animation-duration: .5s;
  overflow: scroll;
}

#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.8);
}