  /*      */
/* Imports */
 /*      */
 @import 'variables';

#register-btn {
  background-color: $color-light-orange-warning;
  color: white;
  margin-top: 15px;
}

#register-form-container {
  @media screen and (max-width: 600px) {
    margin-top: 60vh;
  }
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 25px;
  background-color: $color-light-grey;
  width: 375px;
  height: 930px;
  zoom: .8;
  box-shadow: $box-shadow-thick;
  @include border-radius(10px);
  position: relative;
  margin-top: 20vh;
  padding-top: -55vh;
  margin-bottom: 50px;
  z-index: 50;
}

input{
  height: 40px;
  font-size: 20px;
}

label {
  display: block;
  margin: 0px;
  font-size: 24px;
}