  /*      */
/* Imports */
 /*      */
 @import 'variables';

#bid-amount {
  color: white;
  background-color: $color-light-grey;
  border-radius: $border-rad-base;
}

#bid-count {
  font-weight: $font-weight-black;
  color: white;
}

#budget {
  font-weight: $font-weight-black;
  color: white;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  background-color: $color-dark-grey;
  width: 400px;
  height: 90px;
  padding: 10px;

  border: $border-base;
  border-radius: $border-rad-base;

  &.expanded {
    height: 315px;
  }
}

#date {
  font-weight: $font-weight-reg;
  color: white;
  margin: 0;
}

#desc {
  color: white;
  font-weight: $font-weight-light;
  background-color: $color-light-grey;
  border-radius: $border-rad-base;
  margin: 0;
}

#job-title {
  font-family: $font-header;
  font-weight: $font-weight-black;
  font-size: 20px;
  margin: 0;
}

#winning-bid {
  color: white;
}

.card-btn {
  width: 100px;
  height: 30px;
  font-size: 14px;
  margin-bottom: 0px;
}

#accept-btn {
  position: relative;
  background-color: $color-green;
}

#complete-btn {

}

#delete-btn {
  background-color: $color-light-red-danger;
}

#show-btn {
  background-color: $color-light-orange-warning;
}